<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wcw.user.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="org.wcw.user.domain.entity.UserInfoDO">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="nickname" property="nickname"/>
        <result column="description" property="description"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, username, password, email, nickname, description, avatar_url, create_time, update_time
    </sql>

    <insert id="insert" parameterType="org.wcw.user.domain.entity.UserInfoDO" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user_info (user_id, username, password, email, nickname, description, avatar_url)
        VALUES (#{record.userId}, #{record.username}, #{record.password}, #{record.email}, #{record.nickname}, #{record.description}, #{record.avatarUrl})
    </insert>

    <update id="updateById">
        UPDATE user_info
        <set>
            <if test="record.username != null">username = #{record.username},</if>
            <if test="record.password != null">password = #{record.password},</if>
            <if test="record.email != null">email = #{record.email},</if>
            <if test="record.nickname != null">nickname = #{record.nickname},</if>
            <if test="record.description != null">description = #{record.description},</if>
            <if test="record.avatarUrl != null">avatar_url = #{record.avatarUrl},</if>
        </set>
        WHERE user_id = #{record.userId}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM user_info
        WHERE user_id = #{userId}
    </delete>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info
        WHERE user_id = #{userId}
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info
        WHERE username = #{username}
    </select>

    <select id="selectByEmail" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info
        WHERE email = #{email}
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info
        ORDER BY create_time DESC
    </select>
</mapper>